.banner-box {
    display: inline-block;
    background-color: rgba(58, 64, 66, 1);
    box-shadow: 10px 10px 0px;
    text-align: center;
    padding: 42px 44px;
}

.banner-box .title {
    margin-bottom: 28px;
}