.bar {

    margin-left: 16px;
    width: 320px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border: 5px solid #000;
}

.redbar {

    width: 210px;
    height: 40px;
    background-color: rgba(235, 87, 87, 1);
}