.main-section {
    height: 740px;
    background-color: #1293A8;
    padding-bottom: 100px;
    padding-top: 50px;
    border-bottom: 10px solid #000;
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-bgBlack{
    height: 530px;
    background-color: black;
}

.main-section.-bdFirst{
    border-bottom: 10px solid #1293a8;
}
