.main-button {
    display: inline-block;
    background-color: #00a7a9;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 1px black;
    margin-right: 0;
    cursor: pointer;
    transition: transform 90ms linear;
    color: #FFF;
    font-size: 20px;
    text-decoration: none;
}

.main-button.-final {
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-style: bold;
    font-weight: 300;
    font-size: 30px;
    line-height: 39px;
    text-align: center;
    color: #000000;
}

.main-button:hover {
    transform: scale(1.020);
    text-decoration: none;
}