.footer{
    display: inline-flex;
    height: 100px;
    width: 100%;
    background-color: black;
    align-items: center;
    justify-content: center;

}

.wrapper-footer{
    display: inline-flex;
    width: 415px;
    justify-content: space-around;
}

