.section {
    height: 740px;
    background-color: #082C28;
    padding-bottom: 100px;
    padding-top: 50px;
    border-bottom: 10px solid #000;
}

.section .main-title {
    margin-bottom: 60px;
}

