.line-dashed{
    border:0;
    border-top: 5px dashed #000;
}

.line{
    border: 0;
    border-top: 5px solid #000;
}

.wrapper-timeline {
    display: flex;
}

.timeline{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    height: 140px;
    border: 5px solid #000;
    background-color: rgba(206, 176, 42, 1);
    justify-content:center;
    align-items: center;
}

.timeline.-caelum{
    padding-right: 0px;
    padding-left:0px
}

.timeline.-bgBlue1{
    background-color: rgba(76, 91, 132, 1);
}


